.details{
    width: 300px;
}
/* 
div{
    background-color: aqua;
} */

.table12{
    border: 1px solid black;
}

.table32{
    width: 40%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #4fd2d6;
}
.ttr{
    border: 1px solid black;
    height:50px;
    
}

.input{
    width: 50px;
    /* height: 15px; */
}

.tttr{
    border: 1px solid black;
    height: 200px;
}


.size{
    width: "25px";
}

